^contentpage{
    padding: 20;
}
#header {
    text-align:center;
    font-size:25;
    font-weight:bold;
    color:white;
    padding:30;
}
#loginbar{
    background-color: whitesmoke;
    color: black;
}
#entry{
    padding-left:15;
    padding-top: 10;
    background-color: white;
}
#button{
    background-color: orangered;
    font-size:20
}
#bottombar{
    color: white;
}
#bottomremember{
    margin-top:5;
}
#bottomforgot {
    margin-top: 5;
    margin-left: 125;
}
#info{
    font-size: 20;
    font-weight: bold;
    text-align:center;
    text-decoration: underline;
    margin-bottom: 20;
}
#blank {
    font-size: 15;
    font-weight: bold;
    text-decoration: underline;
}
.dropdown {
    background-color: #449F44;
    padding: 0;
    border-radius: 10;
}
#switch{
    color: black;
    margin-top: 10;
}
#slider1 {
    margin-right: 50;
    width:225;
}
#slider2{
    margin-right: 120;
}
#static {
    background-color: #459F45;
    border-radius:30;
    margin-top:30;
}
#hover {
    background-color: #388138;
    border-radius: 30;
}
#pressed {
    background-color: #2E6D2A;
    border-radius: 30;
}